PROJECT_NAME=cobranca-api
ENVIRONMENT=development

POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=cobranca_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://changeme:changeme@localhost:5432/cobranca_db